body {
    font-family: 'Montserrat', sans-serif;
}

.name {
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.job {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.about {
    font-size: 18px;
    font-weight: 300;
    color: gray;
    margin-bottom: 24px;
}

.container {
    background-image: linear-gradient(to right, rgb(255,255,255,1), rgba(255,255,255,0.6)), url("https://images.unsplash.com/photo-1554224155-6726b3ff858f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2672&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 128px;
}

.avatar {
    width: 210px;
    height: 210px;
    margin-bottom: 40px;
    border-radius: 50%;
    object-fit: cover; /*เพื่อไม่ให้รูปโดนบีบ*/
    box-shadow: 10px 10px 10px 0px black;
}

.contact {
    margin-bottom: 48px;
}

.content {
    max-width: 500px;
}

.button {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: black;
    color: white;
    padding: 12px 24px;
}

.contact-icon {
    width: 16px;
    margin-right: 12px;
}

.contact-item {
    margin-bottom: 4px;
}

@media screen and (max-width:768px){
    .container {
        padding: 48px;
    }
}

@media screen and (max-width:768px){
    .name {
        font-size: 36px;
    }
}